<mat-card class="example-card" (click)="emitShoppingListClicked()">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{shoppingListInput.name | uppercase}}</mat-card-title>
      <mat-card-subtitle>Created on {{shoppingListInput.createdAt | date: 'dd/MM/yyyy' }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <p>Completed: {{shoppingListInput.completed?'yes':'no'}}</p>
      </mat-card-content>

    <mat-card-actions>
      <button mat-button>View items</button>
    </mat-card-actions>
</mat-card> 


  <!-- display all 
    <mat-card class="shoppingList" *ngFor="let shoppingList of shoppingLists">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{shoppingList.name | uppercase}}</mat-card-title>
      <mat-card-subtitle>Created on {{shoppingList.createdAt | date: 'dd/MM/yyyy'}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>Completed: {{shoppingList.completed?'yes':'no'}}</p>
    </mat-card-content>
    
    <mat-card-actions>
      <button mat-button routerLink="../display/{{quizInput._id}}">View List</button> 
    </mat-card-actions>
</mat-card>  
-->
