<form [formGroup]="createCart" (ngSubmit)="saveCart()">
  <div>
    <mat-form-field>
      <input matInput placeholder="Cart name" formControlName="title">
      <mat-error *ngIf="createCart.controls.title.errors?.required && createCart.controls.title.touched">
          You must fill out the username
        </mat-error>

        <mat-error *ngIf="createCart.controls.title.errors?.minlength && createCart.controls.title.touched">
          Username must be at least 3 characters
        </mat-error>
    </mat-form-field>
  </div>
  <div>
    <button type="button" mat-raised-button color="secondary" (click)="createNewItem()">Add cart item</button>
  </div>

  <div formArrayName="items">
    <div *ngFor="let itemControl of createCart.controls.items.controls; let i = index">
      <div [formGroupName]="i">
        <mat-form-field>
          <input matInput placeholder="Item" formControlName="name">
        </mat-form-field>
        <mat-form-field>
          <input type="number" min="0" matInput placeholder="quantity" formControlName="quantity">
        </mat-form-field>
      </div>
    </div>
  </div>
  
  <button mat-raised-button color="primary">Save</button>

</form>