
<mat-card class="example-card">
    <mat-card-header>
  
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="registerForm">
        <mat-form-field>
          <input matInput id="firstname" formControlName="firstname" placeholder="Firstname">
  
          <mat-error *ngIf="registerForm.controls.firstname.errors?.required && registerForm.controls.firstname.touched">
            You must enter your firstname
          </mat-error>
        </mat-form-field>
        

         <mat-form-field>
                <input matInput id="lastname" formControlName="lastname" placeholder="Lastname">
  
                <mat-error *ngIf="registerForm.controls.lastname.errors?.required && registerForm.controls.lastname.touched">
                  You must enter your lastname
                </mat-error>

         </mat-form-field>
         
          <mat-form-field>


          
          <input matInput id="username" formControlName="username" placeholder="Username">
  
          <mat-error *ngIf="registerForm.controls.username.errors?.required && registerForm.controls.username.touched">
            You must enter a username
          </mat-error>
  
         
    
        </mat-form-field>
  
           
          <mat-form-field>
            <input matInput id="password" type="password" placeholder="Password" formControlName="password">
  
            <mat-error *ngIf="!registerForm.controls.password.valid && registerForm.controls.password.dirty">
              You must fill out the password
            </mat-error>

            <mat-error *ngIf="registerForm.controls.password.errors?.minlength && registerForm.controls.password.touched">
                    Username must be at least 6 characters
                  </mat-error>
          </mat-form-field>
        
        
      </form>
    </mat-card-content>
    <mat-card-subtitle>
      <button type="button" mat-button>Register</button>
    </mat-card-subtitle>
  
    <mat-card-subtitle>
      <button routerLink = "">Cancel</button>
    </mat-card-subtitle>
  
   
  </mat-card>
  